*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.head h1{
   color:#ff7c39;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-right: auto;
   
}

.head{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(27, 24, 24);
    padding: 5px 10%;
    flex-flow: wrap;
}

.head button{
    background-color: rgb(27, 24, 24) ;
    color:#ffa460;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ff7c39;
    cursor: pointer;
    margin-right: 10px;
}
.head button:hover{
    background-color: rgb(59, 59, 59);
}
.head input{
    background-color: rgb(27, 24, 24) ;
    color:rgb(197, 196, 196);
    padding: 6px;
    margin-right: 5px;
    border: 1px solid #ff7c39;
    border-radius: 10px;
}
.homePage{
    justify-content: center;
    flex-flow: wrap;
}
.cards{
    margin: 20px;
}
.filters{
    background-color: #ff7c39;
    margin: 20px;
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    background: rgba(255, 124, 57, 0.801);
}
.filters button{
    background-color: rgb(27, 24, 24);
    color: #ff7c39;
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
    width: 125px;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 10px;
}
.filters button:hover{
    background-color: rgb(59, 59, 59);
}
.filters select{
    background-color: rgb(27, 24, 24);
    width: 125px;
   padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    color: #ff7c39;
    font-family: sans-serif;
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.filters select:hover{
    background-color: rgb(59, 59, 59);
}