
.landingPage img{
  width: 60%;
  border-end-end-radius: 50px;
  border-end-start-radius: 50px;
}


.title img{
  width: 25%;
  height: 15%;
 
}
.title button{
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 2px solid #ff7c39;
  border-radius: 10px;
  width: 170px;
  cursor: pointer;
  font-size: 20px;
  color:#ff7c39;
}
.title button:hover{
  background-color: #ffa460;
}
.paragraph p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#ebe6e6;
  margin-top: 20px;
  
}
.paragraph{
  
  border-radius: 10px;
  height: 150px;
  
}

